/* DarkBlue: #253746 */
/* DarkBrown: #544c44  */

/* ****************************************************************** */
/* Berry: 38 85 62 38    |    115 48 60    |    #73303C

Deep Ocean:  87 77 55 71    |    16 23 38    |    #101726

Dirt: 38 58 69 20    |    140 100 77    |    #8C644D

Breeze: 14 11 12 0    |    216 216 214   |    #D8D8D6


Grass: 69 44 66 28    |    76 99 83    |    #4C6353 */

/* ****************************************************************** */

body {
    font-family: 'Arial', sans-serif;
}


/* *********************************************************************************** NAVs */


.sale-nav {
    display: flex;
    /* background-color: cadetblue; */
    background-color: #73303C;
    width: 100%;
    height: 30px;
    /* padding: 3px; */
    text-align: center;
    align-items: center;
}
#sale-text {
    display: inline;
    width: 100%;
    color: white;

}

.main-nav {
    background-color: #101726;
    position: fixed;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    z-index: 5;
}

a {
    color: white;
    text-decoration: none;
}


/* ********************************************************************************HOME */
.container-h {
    display: flex;
    position: relative;
    /* border: 1px solid black; */
    justify-content: space-around;
    top: 50px;
    box-sizing: border-box;
    /* background-color: #EFE4E6; */

}

.home-main {
    margin-left: 25px;
    margin-right: 20px;
}

.home-main h1 {
    color: #73303C;
    width: 30%;
}
  
.item {
    /* background: #ce8888; */
    width: 50%;
    height: 500px;
    /* margin: 5px; */
    /* border: 1px solid #5A6868; */
    position: relative;
}

#h-a {
    width: 40%;
}

#h-b {
    width: 60%;
    /* flex-wrap: wrap; */

}

/* **************************************************************************** HOME DIVS */

.home-div {
    display: flex;
    box-sizing: border-box;
    position: relative;
    top: 50px;
    height: 300px;

}

p {
    line-height: 2em;
}

#h-d1 {
    background-color: #101726;  
    
}
#h-d2 {
    background-color: #73303C;
}
#h-d3 {
    background-color: #797676;
}

/* ****************** BUTTONS */

.btns {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
}

.btns button {
    padding: 8px;
    color: white;
    background-color: #101726;  
    border-radius: 10px;
}


/* *******************************************************************************************HOME PHOTOS */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 31%;
    max-width: 31%;
    padding: 2px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    height: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
